@model IEnumerable<WebBiblioteca.Models.Libro>

@{
    ViewData["Title"] = "Libros";
}

<h1>Lista de Libros</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Libro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAutorNavigation.Nombre) de Autor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAutorNavigation.Nombre)
            </td>
        </tr>
}
    </tbody>
</table>
